# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# 今回のWhoIsアプリ特有（ユーザーがアップロードする画像類）
media/
media/avatars/
media/qrcodes/

# 仮想環境 (例: venvや.envを使用している場合)
venv/
env/
.env