{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'knowledge/css/list.css' %}">

<h1>記事一覧</h1>

{% if selected_tag %}
    <h2>#{{ selected_tag.name }}の記事一覧</h2>

{% endif %}

{% for post in posts %}
<div class="card">
    <h2>
        <a href="{% url 'knowledge_detail' post.pk %}">
            {{ post.title }}
        </a>
    </h2>

    <p>{{ post.created_at }}</p>

    {% for tag in post.tags.all %}
        <a href="{% url 'tag_posts' tag.name %}" class="tag">#{{ tag.name }}</a>
    {% endfor %}
</div>
    
{% endfor %}
{% endblock %}
